<html>
	<head>
		<title>{% if page.title %}{{page.title}} · {% endif %}Mitra Baja Kencana{% if page.titleAfter %} · {{page.titleAfter}}{% endif %}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link href="{{site.baseurl}}css/main.css" rel="stylesheet">

		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<link rel="icon" href="{{site.baseurl}}img/icon.png">
	</head>


<div id="header-wrapper">
	<header id="header" class="container">
		<div><img src="{{site.baseurl}}img/logo.png" id="logo" style = "width:50%;height: 65px">
	</div>

		  {% include nav.html navclass='nav-top' %}
	</header>
</div>
	<!-- <div class="header">
		<div class="top-header">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo"><img src="{{site.baseurl}}img/logo.png"></div>
					</div>
					<div class="col-sm-8">
						<div class="header-menus">
							<div class="menu">
								<a href="#" class="toggleMenu"><span></span><span></span><span></span></a>
								<ul class="nav">
									<li><a href="/index.html">HOME</a></li>
									<li><a href="/onlinesales.html">ONLINE SALES</a></li>
									<li><a href="/company-profile.html">PROFILE</a></li>
									<li><a href="/product.html">PRODUCT</a></li>
									<li><a href="/facilities.html">FACILITIES</a></li>
									<li><a href="/news.html">NEWS</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
 -->

<div class="container">
  <div class="container-fluid">
    <div id="content">
      <article>
			{{content}}
      </article>
    </div>
  </div>
</div>

<div id="footer-wrapper">
	<footer id="footer" class="container">
		  {% include footer.html%}
	</footer>
</div>

</body>
</html>